@import url('https://fonts.googleapis.com/css2?family= Aoboshi +One & family= Roboto:wght@100 & display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aoboshi One', serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    gap: 20px;
    margin: 0;
    
}

nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: #4044A0;
}

.Meio{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Aoboshi One', serif;
    
}

.corpo{
    background-color: #0C98C5;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Aoboshi One', serif;
}

.Pesquisa{
    border-width: 3px;
    border-radius: 50px;
    border-color: red;
    border-style: solid;
    font-family: 'Aoboshi One', serif;
}
.button{
    display: flex;
    background-color:rgb(0, 0, 0) ;
    color: white;
    border-radius: 50px;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Aoboshi One', serif;
    justify-content: center;
    margin: 30px;
    align-items: center;
    width: 180px;
}
.saibmais{
    border: 2px ;
    width: 400px;
    height: 600px;
    background-color: aliceblue;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(207, 207, 207);
    font-family: 'Aoboshi One', serif;
}
.texto{
    font-size: 30px;
    background-color: ;
    font-family: 'Aoboshi One', serif;
}

.titulos{
    background-color:;
    font-family: 'Aoboshi One', serif;
}